{% extends 'base.j2' %}

{% block content %}
<table
  id="table-alerts"
  data-toggle="table"
  data-pagination="true"
  data-side-pagination="server"
  data-search="true"
  data-searchable="true"
  data-url="{{ haurl }}admin/data/alerts"
  data-id-field="id"
  data-sort-name="timestamp"
  data-sort-order="desc">
  <thead>
    <tr>
      <th data-field="id" data-visible="false">ID</th>
      <th data-field="timestamp" data-sortable="true">Timestamp</th>
      <th data-field="type" data-sortable="true">Type</th>
      <th data-field="src_ip" data-sortable="true">Source IP</th>
      <th data-field="message" data-sortable="true">Message</th>
    </tr>
  </thead>
</table>
{% endblock %}