{% extends 'base.j2' %}

{% block content %}
<table
  id="table"
  data-toggle="table"
  data-url="{{ haurl }}admin/data/alerts"
  data-side-pagination="server"
  data-pagination="true">
  <thead>
    <tr>
      <th data-field="timestamp">Timestamp</th>
      <th data-field="type">Type</th>
      <th data-field="src_ip">Source IP</th>
      <th data-field="message">Message</th>
    </tr>
  </thead>
</table>
{% endblock %}