<!DOCTYPE html><html lang='en' data-bs-theme='auto'>
<head>
    <meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='{{ haurl }}static/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' crossorigin='anonymous'>
    <link href='{{ haurl }}static/css/bootstrap-table.min.css' rel='stylesheet' integrity='sha384-ssKgPH7gOY4WK7o/78jNA/DvZZ8Lznb0Or+0cCmGI5jgzmdAxzP13EaHVs0QEDqz' crossorigin='anonymous'>
    {% if active == "tuning" %}
    <link href='{{ haurl }}static/css/bootstrap-editable.css' rel='stylesheet'>
    {% endif %}
    <title>Home Detector -> {{title}}</title>
</head>
<body>
<main>
    <div class="container-fluid px-5 py-3">
        <div class="row text-center">
            <h1 class="display-1 align-middle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100px" height="100px">
            <title>mdi icon home-search-outline</title>
            <style>
                path {
                    fill: black;
                }
                @media (prefers-color-scheme: dark) {
                    path { fill: #dee2e6; }
                }
            </style>
            <path d="M19.31 18.9C19.75 18.21 20 17.38 20 16.5C20 14 18 12 15.5 12S11 14 11 16.5 13 21 15.5 21C16.37 21 17.19 20.75 17.88 20.32L21 23.39L22.39 22L19.31 18.9M15.5 19C14.12 19 13 17.88 13 16.5S14.12 14 15.5 14 18 15.12 18 16.5 16.88 19 15.5 19M5 20V12H2L12 3L22 12H20.18C19.33 11.11 18.23 10.47 17 10.18L12 5.69L7 10.19V18H9.18C9.35 18.72 9.64 19.39 10.03 20H5Z" /></svg>
            Home Detector
            </h1>
        </div>
        <hr />
        <div class="row py-3">
            <div class="col-4">&nbsp;</div>
            <div class="col-4 text-center">
                <div class="btn-group" role="group" aria-current="page">
                <a href="{{ haurl}}admin" type="button" class="btn btn-outline-primary {% if active == "alerts" %}active{% endif %}">Alerts</a>
                <a href="{{ haurl}}admin/dns" type="button" class="btn btn-outline-primary {% if active == "dns" %}active{% endif %}">DNS</a>
                <a href="{{ haurl}}admin/tuning" type="button" class="btn btn-outline-primary {% if active == "tuning" %}active{% endif %}">Tuning</a>
                </div>
            </div>
            <div class="col-4">&nbsp;</div>
        </div>
        <div class="row py-3">
        {% block content%}
        {% endblock %}
        </div>
    </div>
</main>
<footer class="footer fixed-bottom py-2">
<div class="container-fluid text-end">
<span class="text-body-secondary"><a target=_new href="https://www.linickx.com">NB</a></span>
</div>
</footer>
<script src="{{ haurl }}static/js/jquery.min.js" integrity='sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs' crossorigin='anonymous' ></script>
<script src='{{ haurl }}static/js/bootstrap.bundle.min.js' integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz' crossorigin='anonymous' ></script>
<script src='{{ haurl }}static/js/bootstrap-table.min.js' integrity='sha384-pmdxQX3bO3B7lHCwvVeRyhYIBGMVQt1XUJCGydHYJSFkQqU7/QxrLsC4u2a6D5PR' crossorigin='anonymous' ></script>
<script src='{{ haurl }}static/js/bootstrap-auto-dark-mode.js' integrity='sha384-s+JSTy6PqcAoBx4cKTr5AdP+flis24w0tMk/+9U+99YRKwDmP7235WXT9dUupaXj' crossorigin='anonymous'></script>
{% if active == "tuning" %}
<script src="{{ haurl }}static/js/bootstrap-table-editable.js"></script>
<script src="{{ haurl }}static/js/bootstrap-editable.min.js"></script>
{% endif %}
</body>
</html>